    *{
        margin: 0;
        padding: 0;
    }
    
    /*Inicio Menu*/
    nav{
        display: flex;
        width: 100%;
        height: 8rem;
        justify-content: space-between;
        background-color: #0b0b0d;
        align-items: center;
    }

    nav a{
        text-decoration: none;
        margin-left: 5%;
        font-size: 38px;
        font-weight: bolder;
        color: #efeae4;
    }

    nav ul{
        display: flex;
        list-style: none;
        margin-right: 2%;
    }


    nav ul li a{
        text-decoration: none;
        font-size: 18px;
        padding: 15px;
        background-color: #0b0b0d;
        margin-right: 5px;
        color: #efeae4;
        border-radius: 10px;
    }

    nav ul li a:hover{
        background-color: #85e6c0;
        color: #373737;
    }
    /*Fim menu*/

    /*Inicio Topo*/
    header#topo{
        background-color: #85e6c0; 
        padding: 6%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    header#topo h1{
        display: flex;
        margin-right: 10%;
    }

    header#topo p{
        display: flex;
        margin-right: 10%;
        font-size: 25px;
    }

    header#topo a{  
        display: flex;
        text-decoration: none;
        background-color: antiquewhite;
        font-size: 17px;
        padding: 10px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        color: black;
        border-radius: 50px;
    }
    /*Fim Topo*/

    /*Inicio Sobre*/
    section#sobre{
        background-color: #daf3ea;
        padding: 6%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        font-size: 25px;
    }

    section#sobre h2{
        display: flex;
        margin-right: 16.5%;
        font-size: 28px;
    }

    section#sobre p{
        display: flex;
        margin-right: 10%;
        font-size: 22px;
    }

    section#sobre a{  
        display: flex;
        text-decoration: none;
        background-color: antiquewhite;
        font-size: 17px;
        padding: 10px;
        align-items: baseline;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        color: black;
        border-radius: 50px;
    }
    /*Fim Sobre*/

    /*Inicio Serviços*/
    section#servicos{
        background-color: #f7f4e8;
        padding: 5%;
        text-align: center;
        font-size: 18px;
    }

    section#servicos ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }

    section#servicos div{
        margin-right: 30px;
        flex: 1 1 200px;
        width: 40%;
        border-radius: 50px;
        padding: 10px;
    }
    /*Fim Serviços*/

    /*Inicio Fotos*/
    section#fotos{
        background-color: #6bb39b;
        text-align: center;
    }

    section#fotos h2{
        padding: 20px;
        font-size: 25px;
    }

    section#fotos ul{
        max-width: 1450px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }
    
    section#fotos img{
        display: flex;
        flex: 1 1 300px;
        width: 40%;
        border-radius: 20px;
        padding: 10px;
    }
    /*Fim Fotos*/

    /*Inicio Contato*/
    section#contato{
        display: flex;
        justify-content: space-between;
        background-color: #85e6c0;
        padding: 25px;
        align-items: center;
        text-align: center;
        font-size: 18px;
    }

    section#contato ul{
        align-items: center;
        display: flex;
    }

    section#contato ul div{
        margin-right: 18px;
    }
    /*Fim Contato*/

    /*Inicio footer*/
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #daf3ea;
        padding: 25px;
        align-items: center;
        text-align: center;
        font-size: 18px;
    }

    footer a{
        text-decoration: none;
        padding: 10px;
        background-color: rgb(230, 192, 143);
        border-radius: 50px;
        color: black;
        font-size: 18px;
    }
    /*Fim footer*/

    /*Inicio Responsivo*/
    @media (max-width:980px){
        nav{
            height: 14rem;
            display: block;
            padding-top: 10%;
        }

        nav a{
            margin-left: 35%;
            font-size: 58px;
        }

        nav ul{
            margin-top: 5%;
            margin-left: 20%;
        }

        nav ul li a{
            font-size: 38px;
            margin-left: 10%;
        }

        header#topo{
            flex-direction: column;
        }

        header#topo h1{
            font-size: 48px;
            margin: 0%;
            margin-bottom: 5%;
        }

        header#topo p{
            font-size: 30px;
            margin: 0%;
            margin-bottom: 5%;
        }

        header#topo a{  
            font-size: 40px;
            padding: 1%;
        }

        section#sobre{
            flex-direction: column;
        }

        section#sobre h2{
            margin-right: 0%;
            font-size: 48px;
        }

        section#sobre p{
            display: flex;
            margin-right: 0%;
            font-size: 30px;
            margin-bottom: 5%;

        }

        section#sobre a{  
            font-size: 40px;
            padding: 1%;
        }

        section#servicos h2{
            font-size: 48px;
        }

        section#servicos ul{
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }

        section#servicos div{
            margin: 0px;
            width: 90%;    
            padding: 20px;
            font-size: 30PX;
            background-color: #85e6c0;
            margin: 10px;
        }

        section#fotos h2{
            font-size: 48px;
        }

        section#fotos ul{
            flex-direction: column;
        }
        
        section#fotos img{
            width: 90%;
        }

        section#contato{
            flex-direction: column;
            font-size: 35px;     
        }

        section#contato ul{
            display: flex;
            flex-direction: row;
            padding-top: 5%;
            align-items: center;
        }

        section#contato div{
            margin-left: 10px;
            font-size: 40px;
            background-color: #deffe4;
            padding: 20px;
            border-radius: 40px;
        }

        footer{
            font-size: 35px;
        }    

        footer a{
            text-decoration: none;
            padding: 10px;
            background-color: rgb(230, 192, 143);
            border-radius: 50px;
            color: black;
            font-size: 38px;
        }

    }
    /*Fim Responsivo*/